<!DOCTYPE html> 
<html>
    <head>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.8.0.min.js"></script>
        <script type="text/javascript">
            $(document).ready(
                    function() {
                        source = new EventSource('/my_event_source');
                        source.onmessage = function(message) {
                            var data = JSON.parse(message.data);
                            console.log(data.id, data.msg);
                            $('#output').append('<li>'+message.data+'</li>');
                        }
                    })
        </script>
        <script>
              $(document).ready(function(){
                $('#eventCancelButton').click(function(){
                   source.close();
                });
              });
        </script>
    </head>

    <body>

        <h2>Demo</h2>
        
        <input type="button" id="eventCancelButton" value="Cancel Events" />

        <ul id="output">
        
        </ul>
    </body>
</html>